@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body bgcolor="Lime">
    
        <div>

            <h1 style="text-align:center">
            Puede retirar su dinero</h1>

        </div>
     
</body>
</html>
